<ion-content no-bounce>
  <div class="block1 a1-relative">
    <div class="bg-img a1-relative" [ngStyle]="{'background-image': 'url('+bg_url+')'}">
      <img src="{{girl_url}}" alt="" class="a1-absolute girl-img">
      <div class="yellow-bg a1-absolute bg-skew"> </div>
    </div>
    <div class="a1-absolute text-img">
      <img src="{{text_url}}" alt="">
      <div class="container">
        <div class="row a3-items-center">

          <!-- <div class="col-2 hidden-xs" style="opacity: 0">
            <div padding-left padding-right class="text">hoặc</div>
          </div> -->

          <div class="col-5 hidden-xs" style="opacity: 0">
            <div class="btn-sign">gọi {{phone_number}}</div>
          </div>

          <div class="col-5" tapable (click)="onClickSignUp()">
            <div class="btn-sign">Đăng ký tại đây</div>
          </div>

          <div class="col-5 hidden-xs" style="opacity: 0">
            <div class="btn-sign">gọi {{phone_number}}</div>
          </div>


        </div>
      </div>
    </div>

    <ion-row id="rowitemID" align-items-start class="yellow-bg a1-relative a1-z-10" style="padding: 10px 30px;">
      <ion-col (swipe)="onSwipe($event)" col-12 col-sm-3 col-md-3 class="margin-xs" *ngFor="let item of items ; let i = index"
        text-center>
        <div class="vt-item-title blue-color iCielBrandonText-Bold">
          <span>{{item.title}}</span>
          <ion-icon class="a1-absolute icon-middle" name="md-arrow-dropdown"></ion-icon>
        </div>

        <div class="vt-item-body">
          <div class="ld-icon blue-color">
            <img src="{{item.icon}}" alt="">
          </div>
          <div class="semi-font">{{item.subtitle}}</div>
          <div class="font-bold " [class.iCielBrandonText-Bold]="i >= 0"><span>{{item.textbold}}</span></div>
          <div class="wrap" text-center [innerHtml]="item.description"></div>

          <div class="line hidden-xs" [hidden]="i == 3"></div>
        </div>
      </ion-col>
    </ion-row>

    <div class="vt-tabbar" text-nowrap>
      <div class="tab" (click)="onClickTab(item)" [class.selected]="item.id == itemIDSelected" *ngFor="let item of items"></div>
    </div>
    <div class="yellow-bg skew-down"> </div>

  </div>


  <div class="block2" id="block2ID">
    <div class="yellow-bg-top"></div>

    <div class="vt-ht iCielBrandonText-Bold" text-center>
      Chọn hình thức
    </div>

    <ion-row align-items-center justify-content-center class="padding-body">
      <ion-col col-12 col-sm-5 (click)="onClickHinhThuc(0)" tappable>
        <div class="primary-bg type-sim a3-container a3-items-center white-color">
          <div class="circle a3-container-center">
            <img src="{{mHinhThucs[0].icon}}" alt="">
          </div>
          <div text-center class="type-sim-content-container">
            <div class="normal-font" text-uppercase>{{mHinhThucs[0].name}}</div>
            <div class="semi-font">{{mHinhThucs[0].description}}</div>
            <button ion-button class="type-sim-btn">Chọn</button>
          </div>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-2 text-center>
        <div class="a3-container-center a3-column">
          <div class="line "></div>
          <div class="vt-or-ts a1-height-40">hoặc</div>
          <div class="line"></div>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-5 (click)="onClickHinhThuc(1)" tappable>
        <div class="yellow-bg type-sim a3-container a3-items-center white-color">
          <div class="circle a3-container-center">
            <img src="{{mHinhThucs[1].icon}}" alt="">
          </div>
          <div text-center class="type-sim-content-container">
            <div class="normal-font" text-uppercase>{{mHinhThucs[1].name}}</div>
            <div class="semi-font">{{mHinhThucs[1].description}}</div>
            <button ion-button class="type-sim-btn">Chọn</button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>


  <!-- <div class="block3" id="block3ID">
    <div class="vt-ht iCielBrandonText-Bold" text-center>
      Chọn số
    </div>
    <div class="vt-sl-sim-container">
      <div class="a1-relative">
        <ion-row align-items-center>
          <ion-col col-12 col-sm-10>
            <ion-searchbar mode="md" type="number" (focus)="onFocus()" [(ngModel)]="searchQuery" (ionInput)="doSearch()"
              (keyup.enter)="doSearch()" placeholder="Nhập sim cần tìm..."></ion-searchbar>
          </ion-col>
          <ion-col class="hidden-xs" col-sm-2>
            <button ion-button round class="btn-search">
              Tìm kiếm
            </button>
          </ion-col>
        </ion-row>
        <div class="search-hint-container" id="searchHint" [hidden]="!isShowHintSearch">
          <div class="primary-bg white-color" padding>Hướng dẫn tìm kiếm sim</div>
          <div padding>
            <div class="text-show" *ngFor="let item of mSearchHints">
              * {{item}}
            </div>
          </div>
        </div>
      </div>

      <div class="table-container">
        <ion-row class="header-fixed" align-items-start>
          <ion-col col-2 col-sm-1 text-center>STT</ion-col>
          <ion-col col-6 col-sm-3>Sim số</ion-col>
          <ion-col col-4 col-sm-3>Giá tiền</ion-col>
          <ion-col col-4 class="hidden-xs" col-sm-3 text-center>Cam kết</ion-col>
          <ion-col col-2 class="hidden-xs"></ion-col>
        </ion-row>
        <div class="table-scroll-content">
          <ion-row *ngFor="let item of mSims; let i = index" (click)="onClickSim(item)" tappable align-items-center>
            <ion-col col-2 col-sm-1 text-center>{{i+1}}</ion-col>
            <ion-col col-6 col-sm-3 class="sim-number">{{item.numberSim}}</ion-col>
            <ion-col col-4 col-sm-3 class="sim-price">{{item.priceSim | number}} đ</ion-col>
            <ion-col class="hidden-xs" col-4 col-sm-3 text-center>{{item.timeSim}} đ/tháng</ion-col>
            <ion-col col-2 class="hidden-xs">
              <button class="sim-btn" ion-button outline uppercase>chọn</button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div> -->


  <div class="block4" id="block4ID">
    <div class="white-color vt-ht iCielBrandonText-Bold a1-relative" text-center>
      <span>Chọn gói cước</span>
      <div class="line"></div>
    </div>

    <div text-center class="white-color"><span>{{subtitle_gc}}</span></div>

    <ion-row align-items-start margin-top class="padding-content">
      <ion-col col-6 col-sm-3 *ngFor="let item of mGoiCuocs" tappable (click)="onClickGoiCuoc(item)">

        <div class="white-bg" [class.selected]="mGoiCuocSelected && item.id == mGoiCuocSelected.id">
          <div class="border-bottom">
            <div class="block-tittle" text-uppercase>
              <span>{{item.name}}</span>
            </div>
            <div class="block-subtitle">
              <span>Cước duy trì: <strong>{{item.fee | number}}</strong> đ/01 tháng</span>
            </div>
          </div>
          <div class="block-des" padding-top>
            <div *ngFor="let des of item.description">
              <ion-icon name="call" *ngIf="des.type == 'call'"></ion-icon>
              <ion-icon name="ios-wifi" *ngIf="des.type == 'wifi'"></ion-icon>
              <ion-icon name="chatboxes" *ngIf="des.type == 'sms'"></ion-icon>
              <span style="margin-left: 10px">{{des.message}}</span>
            </div>
          </div>

          <div text-center class="bg-btn">
            <button ion-button outline class="btn-sl-vt" text-uppercase>
              chọn
            </button>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <div class="primary-bg"></div>
    <div class="primary-bg bottom"></div>

  </div>
  <div class="block5" id="block5ID" margin-top>
    <div class="a1-z-10 a1-relative">
      <div class="white-color vt-ht iCielBrandonText-Bold a1-relative" text-center>
        <span>Thông tin khách hàng</span>
      </div>

      <ion-grid style="height: 100%">
        <ion-row align-items-stretch>

          <ion-col align-self-stretch col-12 col-sm-4 class="hidden-sm">
            <div class="border-radius white-bg box-shadow" padding-top padding-bottom>
              <div padding-bottom padding-left padding-top class="blue-color">Thông tin dịch vụ</div>

              <ion-list no-lines>
                <ion-item>
                  <ion-label>Hình thức: </ion-label>
                  <ion-label [hidden]="!mHinhThucSelected || mHinhThucSelected.name.length == 0">
                    <div class="red-color" text-uppercase text-right>{{mHinhThucSelected.name}}</div>
                  </ion-label>

                </ion-item>
                <ion-item no-border style="border-bottom: 0 !important" [hidden]="!mHinhThucSelected || mHinhThucSelected.name.length == 0 || mHinhThucSelected.id == 1">
                  <div class="gray-color">Phí chuyển đổi: <span float-right>{{phi_chuyen_doi}}</span></div>
                </ion-item>
                <!-- <ion-item [hidden]="mHinhThucSelected && mHinhThucSelected.id == 2 || mHinhThucSelected.id == -1">
                  <ion-label>Sim: </ion-label>
                  <ion-label class="red-color" [hidden]="!mSimSelected || mSimSelected.numberSim.length == 0"
                    text-right>
                    <div class="red-color">{{mSimSelected.numberSim}}</div>
                  </ion-label>
                </ion-item> -->

                <!-- <ion-item [hidden]="!mSimSelected ||mSimSelected.numberSim.length == 0 || mHinhThucSelected.id == 2 || mHinhThucSelected.id == -1">
                  <div class="gray-color">Phí mua sim: <span float-right>{{mSimSelected.priceSim | number}} đ</span> </div>
                 
                </ion-item> -->
                <ion-item [hidden]="mHinhThucSelected.id == 2 || mHinhThucSelected.id == -1">
                  <div class="gray-color">Phí đăng ký: <span float-right>{{phi_dang_ky}}</span> </div>
                </ion-item>

              </ion-list>

            </div>

            <div class="goicuoc border-radius white-bg box-shadow" margin-top [hidden]="mHinhThucSelected.id == 1">
              <div padding-bottom padding-top class="blue-color">Gói cước</div>

              <div [hidden]="!mGoiCuocSelected || mGoiCuocSelected.name.length == 0">
                <div class="border-bottom">
                  <div class="block-tittle" text-uppercase>
                    <span>{{mGoiCuocSelected.name}}</span>
                  </div>
                  <div class="block-subtitle">
                    <span>Cước duy trì: <strong>{{mGoiCuocSelected.fee | number}}</strong> đ/01 tháng</span>
                  </div>
                </div>
                <div class="block-des" padding-top>
                  <div *ngFor="let des of mGoiCuocSelected.description">
                    <ion-icon name="call" *ngIf="des.type == 'call'"></ion-icon>
                    <ion-icon name="ios-wifi" *ngIf="des.type == 'wifi'"></ion-icon>
                    <ion-icon name="chatboxes" *ngIf="des.type == 'sms'"></ion-icon>
                    <span style="margin-left: 10px">{{des.message}}</span>
                  </div>
                </div>
              </div>

            </div>
          </ion-col>

          <ion-col align-self-stretch col-12 col-sm-8>
            <div class="form-container">
              <div style="padding-left: 5px" padding-bottom class="blue-color">Liên hệ</div>

              <ion-row align-items-center id="nameID">
                <ion-col col-12 col-sm-12>
                  Họ và tên <span style="color:red">(*)</span>
                </ion-col>
                <ion-col col-12 col-sm-12>
                  <div *ngIf="isIosMobile" class="fake-input" [class.hastext]="mCustomer.name.length > 0" (click)="onClickShowInputName()"
                    tappable>{{
                    mCustomer.name || 'Nhập họ & tên'}}</div>

                  <ion-item *ngIf="!isIosMobile" no-padding no-border class="item-input">
                    <ion-input (focus)="scrollToName()" type="text" placeholder="Nhập họ & tên" [(ngModel)]="mCustomer.name"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="no-margin">
                <ion-col col-12 col-sm-9 offset-sm-2>
                  <div [hidden]="isRequireName" class="red-color">Bạn chưa nhập họ và tên</div>
                </ion-col>
              </ion-row>

              <ion-row align-items-center id="phoneID">
                <ion-col col-12 col-sm-12>
                  Điện thoại <span style="color:red">(*)</span>
                </ion-col>
                <ion-col col-12 col-sm-6>

                  <div *ngIf="isIosMobile" class="fake-input" [class.hastext]="mCustomer.phone.length > 0" (click)="onClickShowInputPhone()"
                    tappable>{{
                    mCustomer.phone || 'Nhập số điện thoại'}}</div>


                  <ion-item *ngIf="!isIosMobile" no-padding no-border class="item-input">
                    <ion-input (focus)="scrollToPhone()" type="number" placeholder="Nhập số điện thoại" [(ngModel)]="mCustomer.phone"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col col-12 col-sm-6>
                  <div class="green-color">Nhân viên Viettel sẽ liên lạc theo số điện thoại này</div>
                </ion-col>
              </ion-row>

              <ion-row class="no-margin">
                <ion-col col-12 col-sm-9 offset-sm-2>
                  <div [hidden]="isRequirePhone" class="red-color">Chưa có số điện thoại hoặc số
                    điện thoại không hợp lệ</div>
                </ion-col>
              </ion-row>

              <ion-row align-items-center [hidden]="mHinhThucSelected.id == 2">
                <ion-col col-12 col-sm-12>
                  Loại hình khách hàng
                </ion-col>

                <ion-col col-6 col-sm-6 (click)="onClickTypePerson(1)" tappable>
                  <div class="a3-container a3-items-center">
                    <div class="f-circle a3-container-center" [class.selected]="mTypePerson == 1">
                      <ion-icon name="checkmark" [hidden]="mTypePerson == 2"></ion-icon>
                    </div>
                    <div class="f-text" [class.selected]="mTypePerson == 1">Cá nhân</div>
                  </div>
                </ion-col>

                <ion-col col-6 col-sm-6 (click)="onClickTypePerson(2)" tappable>
                  <div class="a3-container a3-items-center">
                    <div class="f-circle a3-container-center" [class.selected]="mTypePerson == 2">
                      <ion-icon name="checkmark" [hidden]="mTypePerson == 1"></ion-icon>
                    </div>
                    <div class="f-text" [class.selected]="mTypePerson == 2">Doanh nghiệp</div>
                  </div>

                </ion-col>

              </ion-row>

              <!-- ========= -->
              <ion-row align-items-center [hidden]="mHinhThucSelected.id == 2">
                <ion-col col-12 col-sm-12>
                  Số lượng sim đăng ký
                </ion-col>

                <ion-col col-12 col-sm-12>
                  <div *ngIf="isIosMobile" class="fake-input hastext" (click)="onClickShowInputNumberSim()" tappable>{{mNumberSim}}</div>
                  <ion-item *ngIf="!isIosMobile" no-padding no-border class="item-input">
                    <ion-input type="number" [(ngModel)]="mNumberSim"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>


              <ion-row align-items-center>
                <ion-col col-12 col-sm-12>
                  Địa chỉ <span style="color:red">(*)</span>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-12 col-sm-4 class="a1-relative">
                  <div (click)="onClickCity()" tappable class="fake-select" [class.has-text]="mCityName.length > 0">
                    {{mCityName || 'Tỉnh/thành phố'}}
                  </div>

                  <div class="a1-absolute fake-select-arrow">
                    <ion-icon name="md-arrow-dropdown"></ion-icon>
                  </div>
                </ion-col>
                <ion-col col-12 col-sm-4 class="a1-relative">
                  <div tappable (click)="onClickDistrict()" class="fake-select" [class.has-text]="mDistrictName.length > 0">
                    {{mDistrictName || 'Quận/huyện'}}
                  </div>
                  <div class="a1-absolute fake-select-arrow">
                    <ion-icon name="md-arrow-dropdown"></ion-icon>
                  </div>
                </ion-col>
                <ion-col col-12 col-sm-4 class="a1-relative">
                  <div tappable (click)="onClickCommune()" class="fake-select" [class.has-text]="mCommuneName.length > 0">
                    {{mCommuneName || 'Phường/xã'}}
                  </div>

                  <div class="a1-absolute fake-select-arrow">
                    <ion-icon name="md-arrow-dropdown"></ion-icon>
                  </div>
                </ion-col>


              </ion-row>

              <ion-row align-items-center>
                <ion-col col-12 col-sm-12>
                  Địa chỉ chi tiết:
                </ion-col>

                <ion-col col-12 col-sm-12>

                  <div *ngIf="isIosMobile" class="fake-input" [class.hastext]="mCustomer.address.length > 0" (click)="onClickShowInputAddress()"
                    tappable>{{
                    mCustomer.address || 'Số nhà, tên đường, tổ/thôn'}}</div>

                  <ion-item *ngIf="!isIosMobile" no-padding no-border class="item-input">
                    <ion-input (focus)="scrollToAddress()" type="text" placeholder="Số nhà, tên đường, tổ/thôn"
                      [(ngModel)]="mCustomer.address"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>


              <!-- <ion-row align-items-center>
                <ion-col col-12 col-sm-2>
                  Nơi cấp CMT:
                </ion-col>
                <ion-col col-12 col-sm-9>

                  <div class="fake-input selecte-cmt a1-relative" [class.hastext]="cityName.length > 0" (click)="onClickShowInputCitys()"
                    tappable>{{
                    cityName || 'Nơi cấp chứng minh thư nhân dân'}}
                    <div class="a1-absolute">
                      <ion-icon name="md-arrow-dropdown"></ion-icon>
                    </div>
                  </div>

                </ion-col>
              </ion-row> -->

              <div text-center margin-top>
                <button ion-button round class="btn-sign" [disabled]="isClickAccept" (click)="onClickAccept()">Xác nhận</button>
              </div>
            </div>

          </ion-col>

          <ion-col align-self-stretch col-12 col-sm-4 class="hidden-xs">
            <div class="border-radius white-bg box-shadow" padding-top padding-bottom>
              <div padding-bottom padding-left padding-top class="blue-color">Thông tin dịch vụ</div>

              <ion-list no-lines>
                <ion-item>
                  <ion-label>Hình thức: </ion-label>
                  <ion-label [hidden]="!mHinhThucSelected || mHinhThucSelected.name.length == 0">
                    <div class="red-color" text-uppercase text-right>{{mHinhThucSelected.name}}</div>
                  </ion-label>

                </ion-item>
                <ion-item no-border style="border-bottom: 0 !important" [hidden]="!mHinhThucSelected || mHinhThucSelected.name.length == 0 || mHinhThucSelected.id == 1">
                  <div class="gray-color">Phí chuyển đổi: <span float-right>{{phi_chuyen_doi}}</span></div>
                </ion-item>
                <!-- <ion-item [hidden]="mHinhThucSelected && mHinhThucSelected.id == 2 || mHinhThucSelected.id == -1">
                  <ion-label>Sim: </ion-label>
                  <ion-label class="red-color" [hidden]="!mSimSelected || mSimSelected.numberSim.length == 0"
                    text-right>
                    <div class="red-color">{{mSimSelected.numberSim}}</div>
                  </ion-label>
                </ion-item> -->

                <!-- <ion-item [hidden]="!mSimSelected ||mSimSelected.numberSim.length == 0 || mHinhThucSelected.id == 2 || mHinhThucSelected.id == -1">
                  <div class="gray-color">Phí mua sim: <span float-right>{{mSimSelected.priceSim | number}} đ</span> </div>
                 
                </ion-item> -->
                <ion-item [hidden]="mHinhThucSelected.id == 2 || mHinhThucSelected.id == -1">
                  <div class="gray-color">Phí đăng ký: <span float-right>{{phi_dang_ky}}</span> </div>
                </ion-item>

              </ion-list>

            </div>

            <div class="goicuoc border-radius white-bg box-shadow" margin-top [hidden]="mHinhThucSelected.id == 1">
              <div padding-bottom padding-top class="blue-color">Gói cước</div>

              <div [hidden]="!mGoiCuocSelected || mGoiCuocSelected.name.length == 0">
                <div class="border-bottom">
                  <div class="block-tittle" text-uppercase>
                    <span>{{mGoiCuocSelected.name}}</span>
                  </div>
                  <div class="block-subtitle">
                    <span>Cước duy trì: <strong>{{mGoiCuocSelected.fee | number}}</strong> đ/01 tháng</span>
                  </div>
                </div>
                <div class="block-des" padding-top>
                  <div *ngFor="let des of mGoiCuocSelected.description">
                    <ion-icon name="call" *ngIf="des.type == 'call'"></ion-icon>
                    <ion-icon name="ios-wifi" *ngIf="des.type == 'wifi'"></ion-icon>
                    <ion-icon name="chatboxes" *ngIf="des.type == 'sms'"></ion-icon>
                    <span style="margin-left: 10px">{{des.message}}</span>
                  </div>
                </div>
              </div>

            </div>
          </ion-col>

        </ion-row>
      </ion-grid>


    </div>

    <!-- <div class="primary-bg"></div> -->
    <!-- <div class="yellow-bg"></div> -->
  </div>

  <ion-fab bottom right>
    <button ion-fab (click)="onClickAddFab()">
      <ion-icon name="add" class="animated pulse"></ion-icon>
    </button>
  </ion-fab>



</ion-content>
